<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 

                <style>
                    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
                  
                  html {
                  background-color: rgb(102, 159, 178);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100vh;
                  text-align: center;
                  font-family: "Lato", sans-serif;
                  }
                  
                  section {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: space-around;
                  width: 40vw;
                  min-width: 350px;
                  height: 80vh;
                  background-color: white;
                  border-radius: 12px;
                  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                  padding: 24px 0px;
                  }
                  svg {
                  margin: 16px 0;
                  }
                  title {
                  font-size: 20px;
                  font-weight: bold;
                  }
                  
                  p {
                  color: #a3a3a3;
                  font-size: 14px;
                  width: 200px;
                  margin-top: 4px;
                  }
                  input {
                  width: 28px;
                  height: 32px;
                  text-align: center;
                  border: none;
                  border-bottom: 1.5px solid #d2d2d2;
                  margin: 0 10px;
                  }
                  
                  input:focus {
                  border-bottom: 1.5px solid deepskyblue;
                  outline: none;
                  }
                  
                  button {
                  width: 250px;
                  letter-spacing: 2px;
                  margin-top: 24px;
                  padding: 12px 16px;
                  border-radius: 8px;
                  border: none;
                  background-color: #33cdff;
                  color: white;
                  cursor: pointer;
                  }
                  </style>
                  
                  <section style="height:25rem; width: 20rem;">
                      
                     
                      <h3>Enter OTP</h3>
                      <p>We have sent a verification code to your Given Mobile No</p>
                      <h3 style="color: rgb(232, 71, 71)" ><%=(typeof msg!=='undefined' )?msg:""%></h3>

                      <form action="/verifyOtp" method="post">
                        <div id='inputs'>
                          <input id='input2' name="otp" type='text' maxLength="1" />
                          <input id='input1' name="otp" type='text' maxLength="1" />
                          <input id='input3' name="otp" type='text' maxLength="1" />
                          <input id='input4' name="otp" type='text' maxLength="1" />
                          <input id='input5' name="otp" type='text' maxLength="1" />
                          <input id='input6' name="otp" type='text' maxLength="1" />


                        </div>
                        <button type="submit">Submit</button>
                      </form>
                      <p style="color: red;" id="countdownText">Resend OTP : <span id="timer">30</span> seconds</p>
                      <a id="resendLink" style="display: none;" href="/resendotp">Resend OTP</a> 
                    </section>
                  
                    <script>
                      const inputs = ["input1", "input2", "input3", "input4","input5","input6"];
                  
                  inputs.map((id) => {
                    const input = document.getElementById(id);
                    addListener(input);
                  });
                  
                  function addListener(input) {
                    input.addEventListener("keyup", () => {
                      const code = parseInt(input.value);
                      if (code >= 0 && code <= 9) {
                        const n = input.nextElementSibling;
                        if (n) n.focus();
                      } else {
                        input.value = "";
                      }
                  
                      const key = event.key; // const {key} = event; ES6+
                      if (key === "Backspace" || key === "Delete") {
                        const prev = input.previousElementSibling;
                        if (prev) prev.focus();
                      }
                    });
                  }
                    </script>

<script>
  let seconds = 59;

  function countdown() {
      document.getElementById("timer").innerHTML = seconds;
      seconds--;

      if (seconds < 0) {
          clearInterval(countdownInterval);
          document.getElementById("countdownText").style.display = "none";
          document.getElementById("resendLink").style.display = "inline";
      }
  }

  const countdownInterval = setInterval(countdown, 1000);
</script>
          
    
</body>
</html>